.divider {
    height: 1px;
    @apply max-w-full mx-6 border-t border-gray-200;
}

.dashed {
    width: 100%;
    @apply ml-2 border-dashed;
}
.circleLeft {
    @apply h-5 w-5 rounded-full -m-2 bg-gray-100;
}

.circleRigth {
    background: #f9fafb;
    @apply h-5 w-5 rounded-full -m-2  bg-gray-100;
}
