.main {
    header {
        @apply flex justify-between items-center;
    }
    div {
        @apply flex items-center;
    }
    img {
        @apply block w-20;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }
    span {
        @apply text-sm font-semibold text-gray-900;
    }
}
